@tailwind base;
@tailwind components;
@tailwind utilities;

.line-1 {
  width: 8em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: "8wv";
  text-align: flex-start;
  white-space: nowrap;
  overflow: hidden;
}

/* Animation */
.anim-typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
  animation-delay: 2s;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

html {
  --line-color: #312e81;
}
